body {
	font: Arial, sans-serif;
}

#zoomable-explanation {
    position: absolute;
    padding: 5px;
	margin: 2em;
    background: black;
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-opacity: 0.3;
}
